</div>
<footer class="footer text-light bg-dark" style="position: absolute; bottom: 0; width: 100%;">
    <div class="container text-center">
      <span class="text-muted">© <%= new Date().getFullYear() %> <a href="https://hurgle.com/"> Hurgle Studios</a></span>
    </div>
</footer>
</body>
</html>